@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}
